/*
|------------------------------------------------------------
| Root variables
|------------------------------------------------------------
*/
:root {
    --bg-bookmark: rgba(0, 0, 0, 0.566);
    --bg-bookmark--hvr: rgba(0, 0, 0, 0.676);
    --bg-bookmark--scrl: rgba(0, 0, 0, 0.676);
    font-size: 16px;
}

/*
|------------------------------------------------------------
| Fonts
|------------------------------------------------------------
*/

body, select, input,
textarea, button, address,
kbd, .fillable:-webkit-autofill {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    letter-spacing: .8px;
    font-size: 1.1rem;
}

body, button, kbd {
    color: ;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

address {
    font-style: normal;
}

img {
    font-style: italic;
}

/*
|------------------------------------------------------------
| Universal reset
|------------------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/*
|------------------------------------------------------------
| Customized CSS remedy
|------------------------------------------------------------
*/

::before, ::after {
    box-sizing: border-box;
}

button {
    outline: none;
}

html {
    line-sizing: normal;
}

[hidden] {
    display: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
}

pre {
    white-space: pre-wrap;
}

hr {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;
    height: 0;
    overflow: visible;
}

img, svg, video, canvas,
audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
}

picture {
    display: contents;
}

source {
    display: none;
}

img, svg,
video, canvas {
    height: auto;
}

audio {
    width: 100%;
}

img {
    border-style: none;
    background-repeat: no-repeat;
    background-size: cover;
}

svg {
    overflow: hidden;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, main, nav, section {
    display: block;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

ul {
    list-style: none;
}

/*
|------------------------------------------------------------
| Scrollbars
|------------------------------------------------------------
*/

.root::-webkit-scrollbar,
.subroot::-webkit-scrollbar {
    width: .5em;
}

.root::-webkit-scrollbar-track,
.subroot::-webkit-scrollbar-track {
    background-color: transparent;
}

.root::-webkit-scrollbar-thumb,
.subroot::-webkit-scrollbar-thumb {
    background-color: var(--bg-bookmark);
}

/*
|------------------------------------------------------------
| Utilities
|------------------------------------------------------------
*/

.fill-height {
    height: 100%;
}

.flex-r {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.f-al-cent {
    align-items: center;
}

.f-al-st {
    align-items: flex-start;
}

.f-just-bet {
    justify-content: space-between;
}

.f-just-cent {
    justify-content: center;
}

.f-just-eve {
    justify-content: space-evenly;
}

.fillable {
    outline: none;
    font-size: 1rem;
    padding: .4rem .6rem;
    background-color: ;
    border: ;
    box-shadow: inset 0px 0px 2px 1px;
    color: ;
    margin-bottom: ;
}

.fillable:-webkit-autofill {
    outline: none !important;
    font-size: 1rem !important;
    padding: .4rem .6rem !important;
    background-color: !important;
    border: !important;
    box-shadow: inset 0px 0px 2px 1px !important;
    color: !important;
    margin-bottom: !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.fillable:hover,
.fillable:focus,
.fillable:-webkit-autofill:hover,
.fillable:-webkit-autofill:focus,
.fillable:-webkit-autofill:active {
    background-color: ;
}

.fillable:-webkit-autofill:hover,
.fillable:-webkit-autofill:focus,
.fillable:-webkit-autofill:active {
    background-color: !important;
}

.btn {
    cursor: pointer;
    outline: none;
}

/*
|------------------------------------------------------------
| Body
|------------------------------------------------------------
*/

body {
    background-image: url('bg4.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    min-height: 100vh; 
    height: 100svh;
}

.body-container {
    min-height: 100vh; 
    height: 100svh;
    padding: .6rem;
}

/*
|------------------------------------------------------------
| Bookmarks
|------------------------------------------------------------
*/

.bookmark-list {
    display: flex;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.bookmark-list * {
    white-space: nowrap;
}

.folder {
    position: relative;
    margin-right: 1rem;
    font-weight: 600;
}

.folder-icon {
    width: 1.4rem;
    margin-right: .2rem;
    line-height: 1rem;
}

.subfolder-icon, .file-icon {
    width: 1.28rem;
    margin-right: .18rem;
    line-height: 1rem;
}

.root.inactive,
.root.inactive > .file,
.subroot.inactive {
    display: none;
}

.folder > div, .subfolder > div {
    position: absolute;
}

.subfolder > div {
    left: 100%;
    top: 0;
}

.root, .subroot {
    background-color: var(--bg-bookmark);
    max-width: 20rem;
    max-height: 88vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.folder-title, .file, .subfolder, .subfolder-title, .file-title {
    width: 100%;
    min-height: 1.7rem;
    max-height: 1.7rem;
    display: flex;
    align-items: center;
}

.root > li, .subroot > li {
    min-height: 1.7rem;
}

.root > *:hover, .subroot > *:hover {
    background-color: var(--bg-bookmark--hvr);
}

.subfolder-title, .file-title {
    padding: 0 .6rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.file-icon {
    padding-left: .2rem;
}

.subfolder-name, .file-name {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}